// This area is for widths and heights
$site-width: 980px;
$nav-height: 90px;
$banner-footer-width: 1280px;
$banner-height: 500px;
$footer-height: 100px;
$home-tour-form-width: 818px;
$home-tour-height: 304px;

// This is for site colors
$site-blue: #79addc;
$site-white: white;
$site-black: black;

// this area is for buttons
$home-banner-button-width: 121.62px;
$home-banner-button-height: 40.04px;
$learn-more-button-height: 40px;
$learn-more-button-width: 133px;
$learn-more-button-radius: 20px;

// this area is for fonts
$primary-font: ProximaNova-ExtraCondensed;
$secondary-font: GillSans-Regular;

// this area is for reusable boxes
$tour-box-width: 236px;
$tour-box-height: 304px;

// this area is for form boxes
$form-height: 58px;
$form-short-box-width: 344px;
$form-medium-box-width: 453px;
$form-long-box-width: 698px;
$form-xsmall-box-width: 103px;
$form-message-box-height: 192px;
